.center {
    text-align: center;
}

.grouplists {
    max-height: 200px;
    overflow-y: auto;
}

.grouplists button.btn-block, .truncate{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 

}

.searchresults {
    max-height: 480px;
    overflow-y: auto;
}

.qtyBox
{
    width: 25%!important;
}